<!doctype html>
<html>
<body class="body">
  <div class="header">
    <div class="logo">
      <p><a href="https://contel-ingenieros.es"><img src="/static/imges/logo.png" align="logo" width="70" height="70"></a></p>
    </div>
    <nav class="barra_menu">
      <ul class="lista_menu">
        <li><a href="/">Home</a></li>
        <li><a href="#">Sistema</a></li>
        <li>Extensiones
          <ul>
            <li><a href="/todas">Todas</a></li>
            <li><a href="#">No Registradas</a></li>
          </ul>
        </li>
        <li>Lineas
          <ul>
            <li><a href="#">Troncales</a></li>
            <li><a href="#">Route In</a></li>
            <li><a href="#">Route out</a></li>
          </ul>
        </li>
        <li>Hotel
          <ul>
            <li><a href="#">Check-Out</a></li>
            <li><a href="#">Añadir alarma</a></li>
            <li><a href="#">Consultar alarma</a></li>
            <li><a href="#">Modificar alarma</a></li>
            <li><a href="#">Borrar alarma</a></li>
          </ul>
        </li>
        <li>Llamadas
          <ul>
            <li><a href="#">Listado de llamadas</a></li>
          </ul>
        </li>
        <li>Site
          <ul>
            <li><a href="/create">Nuevo</a></li>
            <li><a href="/newsite">Conenta con...</a></li>
            <li><a href="/newsite">Lista de Sitios</a></li>
          </ul>
        <li>
      </ul>
    </nav> 
  </div>
<footer calss="footer">
  <p>Creado por: Cristo Emiliano Hernández Darias</p>
</footer>
</body> 
</html>