<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for ('static',filename='estilos1.css') }}">
<body>
    {% include "layout.html" %}
    <div class="">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nonbre del Sitio</th>
                    <th>Host</th>
                    <th>Usuario</th>
                    <th>Password</th>
                    <th id="mod">Modificar</th>
                </tr>
            </thead>
            <tbody>
                {% for lista in lista %}
                <tr>
                <td>{{lista [0]}}</td>
                <td>{{lista [1]}}</td>
                <td>{{lista [2]}}</td>
                <td>{{lista [3]}}</td>
                <td>{{lista [4]}}</td>
                <td id="mod">
                    <a href="/editar/{{lista [0]}}">Editar</a>
                    <a href="/conectar/{{lista [0]}}">Conectar</a>
                    <a href="/borrar/{{lista [0]}}" >Eliminar</a>
                </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</head>
</html>